html{
	overflow-x: hidden;
	font-family: 'Tenor Sans', sans-serif !important;
}
h2,h3,h4,h5,h6,span,input,textarea{
	font-family: 'Tenor Sans', sans-serif !important;
}
span.badge{
	font-weight: lighter;
}
.headings,button{
	font-family: 'Prosto One', cursive !important;
	color: #560082;
}
.profile{
	border-top: 5px solid #560082 !important;
	margin-top: 18%;
	box-shadow: 0 8px 30px -6px rgba(0,0,0,.6);
	transition: box-shadow 0.6s ease-out;
}
.profile:hover{
	box-shadow: 0 8px 10px -6px rgba(0,0,0,.6);
	transition: box-shadow 0.6s ease-out;
}
.profile-img{
	border-radius: 100%;
	border: 5px solid #fff;
	margin-right: auto;
	margin-left: auto;
	margin-top: -15%;
	box-shadow: 0 0px 58px -8px rgba(86, 0, 130, 0.33);
}
.content{
	margin-top: 5%;
}
form{
	padding: 5%;
	padding-top: 2%;
}
input{
	font-weight: lighter;
	border-left: 5px solid #560082 !important;
}
input:focus{
	border-color: #56008294 !important;
}
textarea{
	resize: none;
    margin-left: auto;
    margin-right: auto;
    border-left: 5px solid #560082 !important;
}
.btn-outline-primary{
	border-color: #560082 !important;
	color:  #560082; 
}
.btn-outline-primary:hover{
	background-color: #560082 !important;
	color: #fff;
}
.btn-outline-primary:focus{
	box-shadow: 0 0 0 2px #56008294 !important;
}